# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Xcode build output
DerivedData/
build/
*.dSYM
*.dSYM.zip
*.ipa

# Swift Package Manager
.build/
Package.resolved

# Temporary files
*.tmp
*.swp
